/* Css ilustraciones */

.contenedor {
      display: flex;
      width: auto;
      height: 40vh;
      padding: 10px;
      text-align: center;
}

.imagen_text, .imagen-simple {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.imagen_text img, .imagen-simple img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(192, 206, 131);
    font-size: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}